




body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image {
    /* The image used */
    background-image: url("chinesebg.jpg");
  
    /* Add the blur effect */
    filter: blur(3px);
    -webkit-filter: blur(8px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(217, 36, 36); /* Fallback color */
    background-color: rgba(150, 7, 7, 0.215); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #d20971f7;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    text-shadow: #151415f7;
  }
  /* Add your CSS styles here */



  .img1{
    
 
        position:absolute;
        left:200px; top: 200px;
        border-radius: 40px;
        transition: all 0.3s ease-in-out;
        
        
      }
      .img1 img{
        border-radius: 35px;
        margin-top:2px;
      }
      .img1 img:hover{
        transform: scale(1.1);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        cursor: pointer;
      
      }
      .clickable-image {
        cursor: pointer; /* Change cursor to a pointer on hover to indicate it's clickable */
    
        }

  
  .img2{
 
    position:absolute;
    left:600px; top: 200px;
    border-radius: 40px;
    transition: all 0.3s ease-in-out;
    width: 224px;
    height: 224px;
  }
  .img2 img{
    border-radius: 35px;
    margin-top:2px;
  }
  .img2 img:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;


  }
  .img3{
   
    position:absolute;
    left:1000px; top: 200px;
    border-radius: 40px;
    transition: all 0.3s ease-in-out;
    width: 224px;
    height: 224px;
  }
  .img3 img{
    border-radius: 35px;
    margin-top:2px;
  }
  .img3 img:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;


  }
  .f1{
    background-color: aliceblue;
    opacity: 0.5;
    margin-bottom: 200px;
    text-size-adjust:60;
    bottom:500px;
    text-align: center ; 
    

    




  }
  .f2{
    background-color: aliceblue;
    opacity: 0.5;
    margin-bottom: 200px;
    text-size-adjust:60;
    bottom:500px;
    font-size: large;
    text-align: center ; 

    




  }
  .f3{
    background-color: aliceblue;
    opacity: 0.5;
    margin-bottom: 200px;
    text-size-adjust:10;
    bottom:500px;
    text-align: center ; 
    ;

    




  }