
.search-bar {
    float: right;
    margin-top: 12px;
  }
  
  /* Add a black background color to the top navigation */
  .topnav {
      background-color: #333;
      overflow: hidden;
    }
    
    /* Style the links inside the navigation bar */
    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 12px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    /* Change the color of links on hover */
    .topnav a:hover {
      background-color: #27c2f6;
      color: black;
    }
    
    /* Add a color to the active/current link */
    .topnav a.active {
      background-color:#333;
      color: white;
    }
    .topnav a.active2{
        background-color: #373fdb;
        color: white;
    }
    .topnav a.active:hover{
        background-color: #27c2f6;
        color: black;
      }
    .dropdown {
      float: left;
      overflow: hidden;
    }
    
    .dropdown .dropbtn {
      font-size: 16px;  
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }
    
    .navbar a:hover, .dropdown:hover .dropbtn {
      background-color:  #27c2f6;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    
    .dropdown-content a:hover {
      background-color: #ddd;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    .dropbtn:hover{
      color:black;
    }
    .body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
  }
  
  .search-bar {
      position:top;
      top: 10px;
      right: 1px;
      margin-top:12px;
  }
  
  #search-inputs {
      padding: 5px;
      font-size: 13px;
      border: none;
      margin-right: 10px;
      margin-bottom:10px;
  }
  
  #search-button {
    padding: 4px 8px;
    font-size: 15px;
    background-color: #6366f1;
    color: white;
    border: 2px solid #4c46ff;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    outline: none;
  }
  
  #search-button:hover {
    background-color: #4c46ff;
    border-color: #6366f1;
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  }
  
  
  
  
  
  .search:hover {
      background-color: #23f0ff;
  }
  
  .header {
      background-color: #333;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 20px;
  }
  
  .logo img {
      height: 50px;
      width:50px;
      border-radius: 75%;
      border: 2px solid rgb(255, 255, 255);
      box-shadow: 0 0 50px 0 rgb(187, 200, 188);
       /* Adjust the height as needed */
  }
  
  .login-button {
    --green: #ffffff;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgb(255, 255, 255), 0 0 9px 3px rgb(255, 255, 255);
  }
  
  .login-button:hover {
    color: #ffffff;
    box-shadow: inset 0 0 10px rgb(255, 255, 255), 0 0 9px 3px rgb(255, 255, 255);
  }
  
  .login-button:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgb(239, 255, 248) 40%,rgba(0, 0, 0, 0.1) 60% , transparent 100%);
  }
  
  .login-button:hover:before {
    transform: translateX(15em);
  }
  
  
  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
  }
  
  .footer p {
    margin: 0;
    font-size: 14px;
  }
    
.sign-button {
    --green: #ffffff;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgb(255, 255, 255), 0 0 9px 3px rgb(255, 255, 255);
  }
  
  .sign-button:hover {
    color: #ffffff;
    box-shadow: inset 0 0 10px rgb(255, 255, 255), 0 0 9px 3px rgb(255, 255, 255);
  }
  
  
  .sign-button:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgb(255, 255, 255) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
  }
  
  .sign-button:hover:before {
    transform: translateX(15em);
  }
  
.div .form  .input .select .textarea .label { 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 22px;
    }
    h1 {
        position: absolute;
        margin:0;
        font-size: 60px;
        color: #fff;
        z-index: 2;
        line-height: 83px;
        top:30px;
        }
    legend {
        padding: 10px;      
        font-family: Roboto, Arial, sans-serif;
        font-size: 18px;
        color: #fff;
        background-color: #1c87c9;
        }
    textarea {
        width: calc(100% - 12px);
        padding: 5px;
        }
    .testbox {
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
        padding: 20px;
        }
    form {
        width: 1000px;
        padding: 20px;
        color:white;
        border-radius: 6px;
        background: #ffffff;
        box-shadow: 0 0 8px #006622; 
        margin-bottom:200px;
        background: linear-gradient(45deg, #818181, rgb(0, 0, 0));
        border: 3px solid rgb(255, 255, 255);
        box-shadow: 0 0 50px 0 rgb(187, 200, 188);
        }
    .banner {
        position: relative;
        height: 250px; 
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-image:url(image18.jpg);
        background-size:100% 100%;
        }

    .banner h1{
      margin-top: 40px;
    }
    .banner::after {
        content: "";
        background-color: rgba(0, 0, 0, 0.4); 
        position: absolute;
        width: 100%;
        height: 100%;
        }
    .colums input, select, textarea {
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        }
    .colums input {
        width: calc(100% - 10px);
        padding: 5px;
        }
        input[type="date"] {
        padding: 4px 5px;
        }
    .textarea {
        width: calc(100% - 12px);
        padding: 5px;
        }
    .item:hover p, .item:hover i, .question:hover p, .question label:hover,  .colums input:hover::placeholder {
        color:  #3b6fff;
        }
        .checkbox input[type=checkbox] {
        display:inline-block;
        height:15px;
        width:15px;
        margin-right:5px;
        vertical-align:text-top;
        }
    .item input:hover, .item select:hover, .item textarea:hover {
        border: 1px solid transparent;
        box-shadow: 0 0 3px 0  #006622;
        color: #006622;
        }
    .item {
        position: relative;
        margin: 10px 0;
        }
    .item span {
        color: red;
        }
    .week {
        display:flex;
        justify-content:space-between;
        }
    .colums {
        display:flex;
        justify-content:space-between;
        flex-direction:row;
        flex-wrap:wrap;
        }
    .colums div {
        width:48%;
        }
        .colums input[type=radio],.colums input[type=checkbox]  {
        display: none;
        }
    label.radio {
        position: relative;
        display: inline-block;
        margin: 5px 20px 15px 0;
        cursor: pointer;
        }
    .question span {
        margin-left: 30px;
        }
    .question-answer label {
        display: block;
        }
    label.radio:before {
        content: "";
        position: absolute;
        left: 0;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        border: 2px solid #ccc;
        }
    .colums input[type=radio]:checked + label:before, label.radio:hover:before {
        border: 2px solid  #ffffff;
        }
    label.radio:after {
        content: "";
        position: absolute;
        top: 6px;
        left: 5px;
        width: 8px;
        height: 4px;
        border: 3px solid  #242cc8;
        border-top: none;
        border-right: none;
        transform: rotate(-45deg);
        opacity: 0;
        }

        .button-type1{
          height: 50px;
          width: 150px;
          border-color:black;
          border-radius: 10px;
          margin-left: 420px;
          cursor: pointer;

          position: relative;
          overflow: hidden;
          transition: all 0.5s ease-in-out;
        }
        
        .button-type1:hover {
          box-shadow: .5px .5px 150px #252525;
        }
        
        .button-type1::after {
          content: "Thanks";
          height: 50px;
          width: 150px;
          background-color: #2420ff;
          color: #fff;
          position: absolute;
          top: 0%;
          left: 0%;
          transform: translateY(50px);
          font-size: 1.2rem;
          font-weight: 600;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.5s ease-in-out;
        }
        
        .button-type1::before {
          content: "Donate";
          height: 50px;
          width: 150px;
          background-color: #fff;
          color: #2420ff;
          position: absolute;
          top: 0%;
          left: 0%;
          transform: translateY(0px) scale(1.2);
          font-size: 1.2rem;
          font-weight: 600;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.5s ease-in-out;
        }
        
        .button-type1:hover::after {
          transform: translateY(0) scale(1.2);
        }
        
        .button-type1:hover::before {
          transform: translateY(-50px) scale(0) rotate(120deg);
        }